<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Precios Luque</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css" integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/chartist.js/latest/chartist.min.css">
    <link rel="stylesheet" href="{% static 'css/my_styles.css' %}">
</head>
<body>
    <nav class="navbar navbar-light bg-light p-3">
        <div class="d-flex col-12 col-md-3 col-lg-2 mb-2 mb-lg-0 flex-wrap flex-md-nowrap justify-content-between">
            <a class="navbar-brand" href="/">
                <!-- usar la forma de subir imagenes de dejango. esta manera esta mal-->
                <img class="logo-luque" src="{% static 'img/logo-luque.png' %}" alt="Logo luque">
            </a>
            <button class="navbar-toggler d-md-none collapsed mb-3" type="button" data-toggle="collapse" data-target="#sidebar" aria-controls="sidebar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>
        <div class="col-12 col-md-4 col-lg-2 search-imput">
          {% block search_table %}
            
          {% endblock search_table %}
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <nav id="sidebar" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
                <div class="position-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                          <a class="nav-link" href="#">
                            <div class="row">
                            <div class="col-md-2 ml-0">
                            <svg fill="#100e6d" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" 
                                width="28px" height="28px" viewBox="0 0 62.381 62.38"
                                xml:space="preserve">
                                <g>
                                    <g>
                                        <path d="M60.265,0.289H30.401c-1.17,0-2.119,0.949-2.119,2.12v14.738c0,1.17,0.949,2.119,2.119,2.119h4.281v37.053
                                            c0,1.023,0.729,1.901,1.738,2.086l8.53,1.553c0.125,0.021,0.253,0.031,0.38,0.031s0.256-0.012,0.381-0.031l8.53-1.553
                                            c1.011-0.185,1.741-1.062,1.741-2.086V19.266h4.278c1.17,0,2.119-0.949,2.119-2.119V2.408C62.386,1.237,61.437,0.289,60.265,0.289
                                            z M34.683,15.026h-2.161V4.528h2.161V15.026z M45.336,55.715l-6.414-1.166v-5.208l11.641,5.424L45.336,55.715z M51.747,50.64
                                            l-12.825-5.975v-2.77l12.825,5.977V50.64z M51.747,43.195l-12.825-5.978v-3.146l12.825,5.979V43.195z M51.747,35.376L38.922,29.4
                                            v-3.887l12.825,5.977V35.376z M51.747,26.813l-12.825-5.976v-1.571h12.825V26.813z M58.147,15.026L58.147,15.026h-4.281H38.922
                                            V4.528h19.227L58.147,15.026L58.147,15.026z"/>
                                        <path d="M25.818,33.667c-0.38-0.655-1.079-1.061-1.836-1.061H9.407c-0.758,0-1.457,0.402-1.836,1.061L0.284,46.291
                                            c-0.379,0.656-0.379,1.465,0,2.12l7.287,12.622c0.379,0.656,1.078,1.06,1.836,1.06h14.576c0.757,0,1.457-0.403,1.835-1.06
                                            l7.288-12.622c0.379-0.655,0.379-1.464,0-2.12L25.818,33.667z M22.759,57.853H10.631L4.567,47.351l6.063-10.504h12.128
                                            l6.065,10.504L22.759,57.853z"/>
                                        <path d="M16.694,39.845c-4.347,0-7.883,3.536-7.883,7.885c0,4.35,3.536,7.883,7.883,7.883c4.348,0,7.885-3.533,7.885-7.883
                                            C24.579,43.381,21.042,39.845,16.694,39.845z M16.694,51.374c-2.01,0-3.645-1.636-3.645-3.646c0-2.012,1.635-3.646,3.645-3.646
                                            c2.01,0,3.645,1.636,3.645,3.646C20.339,49.738,18.704,51.374,16.694,51.374z"/>
                                    </g>
                                </g>
                            </svg>
                        </div>
                            <div class="col-md-10">
                            <span class="ml-2">Articulos y precios</span>
                        </div>
                    </div>
                          </a>
                      </ul>
                </div>
            </nav>
            <main class="col-md-9 ml-sm-auto col-lg-10 px-md-4 py-4">
                
                            
                {% block content %}
                    
                {% endblock content %}
                <footer class="mb-4 pt-5 d-flex text-center justify-content-between">
                    <span class="by-alan">By Alan Luque</span>
                    
                </footer>
            </main>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js" integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>

    <script src="{%static 'js/script.js'%}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
</body>
</html>
