
{% extends "core/base.html" %}


{% block search_table %}

{% comment %} <div class="container"> 
    <div class="w-75 p-auto mx-auto"> 

        <div class="input-group">
            <input type="text" id="searchInput" class="form-control" placeholder="Buscar por nombre o códigos..." onkeyup="startSearchTimer(searchArtic3)">
        </div>

    </div>
</div> {% endcomment %}
    
{% endblock search_table %}
    

{% block content %}

<div class="my-5">
    <div class="margin-auto my-5 text-center">
        <h1>Buscar articulo</h1>
    </div>

    <div class="table-responsive">
        <div class="container mt-4">
            <div class="w-50 mx-auto">
                <label for="categorySelect" class="form-label">Selecciona una categoría:</label>
                <select class="form-select" id="categorySelect" aria-label="Selecciona una categoría">
                    {% for category, items_agrup in artics.items %}
                    <option value="content-{{ forloop.counter }}" {% if forloop.first %}selected{% endif %}>
                        {{ category }}
                    </option>
                    {% endfor %}
                    <option value="content-all">Todos</option>
                </select>
            </div>
            
            <div class="tab-content mt-3" id="categoryTabContent">
                <h2>Listas de precios</h2>
                <!-- Contenido para la categoría "Todos" -->

                    
                <div class="tab-pane fade" 
                    id="content-all" 
                    role="tabpanel" 
                    aria-labelledby="tab-all">
                
                    
                    <div class="subcategory-table">
                        <div class="container"> 
                            <div class="w-75 p-auto mx-auto mt-2"> 
                        
                                <div class="input-group">
                                    <input type="text" id="todosInput" class="form-control" placeholder="Buscar por nombre o códigos..." onkeyup="startSearchTimer(searchArtic3, 'todosInput', 'content-all')">
                                </div>
                        
                            </div>
                        </div>
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>Codigo</th>
                                    <th style="min-width: 25rem;">Descripcion</th>
                                    <th>Precio</th>
                                    <th>Imagenes</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                
                                {% for category, items_agrup in artics.items %}
                                    {% for items in items_agrup %}
                                        {% for item in items.artics %}
                                        <tr>
                                            <td data-label="Codigo">{{ item.0.code }}</td>
                                            <td data-label="Descripcion"><p class="description">{{ item.0.description }}</p></td>
                                            <td data-label="Precio">{{ item.0.price }}</td>
                                            <td class="td-img">
                                                <img src="{{ item.1.0 }}" 
                                                        class="img-thumbnail" 
                                                        style="cursor: pointer;" 
                                                        data-bs-toggle="modal" 
                                                        data-bs-target="#imageModal" 
                                                        data-image="{{ item.1.0 }}" 
                                                        data-images="{{ item.1|join:',' }}">
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    {% endfor %}
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                {% for category, items_agrup in artics.items %}
                <div class="tab-pane fade {% if forloop.first %}active show{% endif %}" 
                     id="content-{{ forloop.counter }}" 
                     role="tabpanel" 
                     aria-labelledby="tab-{{ forloop.counter }}">
                     
                    <!-- Botones dinámicos para los subgrupos -->
                    <div class="mb-3 text-center buton-list">
                        {% for items in items_agrup %}
                        <button class="btn btn-outline-primary subcategory-btn" 
                                data-category="{{ forloop.parentloop.counter }}" 
                                data-subgroup="{{ forloop.counter }}">
                            {{ items.name }}
                        </button>
                        {% endfor %}
                    </div>

                    <!-- Tablas dinámicas para los subgrupos -->
                    {% for items in items_agrup %}
                    <div class="subcategory-table" 
                         id="table-category-{{ forloop.parentloop.counter }}-subgroup-{{ forloop.counter }}" 
                         {% comment %} style="display: {% if forloop.first %}block{% else %}none{% endif %};" {% endcomment %}
                         >
                        <table class="table table-striped table-bordered" >
                            <thead>
                                <tr class="text-center">
                                    <th>Codigo</th>
                                    <th style="min-width: 25rem;">Descripcion</th>
                                    <th>Precio</th>
                                    <th>Imagenes</th>
                                </tr>
                            </thead>
                            <tbody class="table-body">
                                {% for item in items.artics %}
                                <tr>
                                    <td data-label="Codigo">{{ item.0.code }}</td>
                                    <td data-label="Descripcion"><p class="description">{{ item.0.description }}</p></td>
                                    <td data-label="Precio">{{ item.0.formatted_price }}</td>
                                    <td class="td-img">
                                        <img src="{{ item.1.0 }}" 
                                             class="img-thumbnail" 
                                             style="cursor: pointer;" 
                                             data-bs-toggle="modal" 
                                             data-bs-target="#imageModal" 
                                             data-image="{{ item.1.0 }}" 
                                             data-images="{{ item.1|join:',' }}">
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                    {% endfor %}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
<!-- Modal listats -->
<div class="modal fade" id="tableModal" tabindex="-1" aria-labelledby="tableModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="tableModalLabel">Detalle de Subcategoría</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="container"> 
                <div class="w-75 p-auto mx-auto mt-2"> 
            
                    <div class="input-group">
                        <input type="text" id="modalInput" class="form-control" placeholder="Buscar por nombre o códigos..." onkeyup="startSearchTimer(searchArtic3, 'modalInput')">
                    </div>
            
                </div>
            </div>
            <div class="modal-body">
                <!-- Aquí se inyectará la tabla -->
                <div id="modalTableContent"></div>
            </div>
        </div>
    </div>
</div>

 <!-- image modal-->
 
 <div class="modal fade" id="imageModal" tabindex="-1" aria-labelledby="imageModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="imageModalLabel">Galería de Imágenes</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Cerrar"></button>
            </div>
            <div class="modal-body text-center">
                <img id="modal-image" src="" class="img-fluid modal-img" alt="Imagen del artículo">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-secondary" id="prev-image">&larr; Anterior</button>
                <button type="button" class="btn btn-secondary" id="next-image">Siguiente &rarr;</button>
            </div>
        </div>
    </div>
</div>

    
    <script>
        {% comment %} tablas dinamicas {% endcomment %}
        document.addEventListener("DOMContentLoaded", function () {
            const buttons = document.querySelectorAll(".subcategory-btn");
    
            buttons.forEach(button => {
                button.addEventListener("click", function () {
                    // Obtener los atributos data-category y data-subgroup
                    const category = button.getAttribute("data-category");
                    const subgroup = button.getAttribute("data-subgroup");
    
                    // Construir el ID de la tabla correspondiente
                    const tableId = `table-category-${category}-subgroup-${subgroup}`;
    
                    // Obtener la tabla del DOM
                    const table = document.getElementById(tableId);
    
                    // Si la tabla existe, inyectarla en el modal
                    if (table) {
                        const modalContent = document.getElementById("modalTableContent");
                        modalContent.innerHTML = table.outerHTML; // Copia la tabla al modal
    
                        // Mostrar el modal
                        const tableModal = new bootstrap.Modal(document.getElementById("tableModal"));
                        tableModal.show();
                    }
                });
            });
        });

        document.addEventListener('DOMContentLoaded', function () {
            const modalImage = document.getElementById('modal-image');
            const prevButton = document.getElementById('prev-image');
            const nextButton = document.getElementById('next-image');
            let images = [];
            let currentIndex = 0;
        
            // Delegación de eventos: escucha clics en el contenedor de las imágenes
            document.body.addEventListener('click', function (event) {
                if (event.target.matches('img[data-bs-toggle="modal"]')) {
                    const imageUrl = event.target.dataset.image;
                    
                    images = event.target.dataset.images.split(',');
                    console.log(`images ${images}`)
                    currentIndex = images.indexOf(imageUrl);
        
                    modalImage.src = imageUrl;
                    console.log("Imagen cargada en el modal:", imageUrl);
                }
            });
        
            // Botón anterior
            prevButton.addEventListener('click', function () {
                console.log("hay click")
                if (images.length > 0 && currentIndex > 0) {
                    console.log(`images ${images}`)
                    currentIndex--;
                    modalImage.src = images[currentIndex];
                }
            });
        
            // Botón siguiente
            nextButton.addEventListener('click', function () {
                console.log("hay click")
                if (images.length > 0 && currentIndex < images.length - 1) {
                    console.log(`images ${images}`)
                    currentIndex++;
                    modalImage.src = images[currentIndex];
                }
            });
        
            // Asegurarse de actualizar las imágenes cuando se abre un nuevo modal de tabla
            document.body.addEventListener('click', function (event) {
                
                if (event.target.matches('img[data-bs-toggle="modal"]')) {
                    const imageUrl = event.target.dataset.image;
                    images = event.target.dataset.images.split(',');
                    currentIndex = images.indexOf(imageUrl);
            
                    // Actualiza la imagen en el modal
                    modalImage.src = imageUrl;
            
                    console.log("Imagen cargada en el modal:", imageUrl);
                    console.log("Lista de imágenes actualizada:", images);
                }
            });
        });
        
        
        
        
        document.addEventListener("DOMContentLoaded", function () {
            const categorySelect = document.getElementById("categorySelect");
            const tabContents = document.querySelectorAll(".tab-pane");
    
            categorySelect.addEventListener("change", function () {
                // Ocultar todos los contenidos
                tabContents.forEach(tab => tab.classList.remove("active", "show"));
    
                // Mostrar el contenido seleccionado
                const selectedValue = categorySelect.value;
                const selectedTab = document.getElementById(selectedValue);
                if (selectedTab) {
                    selectedTab.classList.add("active", "show");
                }
            });
        });
        document.body.addEventListener('click', function (event) {
            console.log("Elemento clickeado:", event.target);
            console.log("Eventos asociados:", getEventListeners(event.target));
        });
        
        
    </script>
{% endblock content %} 