.btn-link{
  background-color: rgb(102, 253, 167);
  border-radius: 10px;
  margin-top: 10%;
  margin-bottom: 10%;
  font-size: 18px;
  color: black;
}
.mt-100 {
  margin-top: 100px !important;
}
.custom-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: auto;
  width: 30px;
  height: 30px;
  border: 2px solid #333; /* Puedes ajustar el grosor y el color del borde según tus preferencias */
  border-radius: 3px; /* Puedes ajustar el radio de borde para darle esquinas redondeadas */
}

.custom-checkbox:checked {
  background-color: #4CAF50; /* Puedes cambiar el color de fondo cuando el checkbox está marcado */
}

.font-28 {
  font-size: 28px;
  line-height: 2px;
}

.hight-10 {
    height: 10%;
  }

.hight-80 {
    height: 80%;
  }

.hight-80 {
    margin-bottom: 15rem;
    }

td{
  font-size: 12px;
}
.w-90 {
  width: 90rem;
}
.w-10 {
  width: 10%;
}
.w-15 {
  width: 15%;
}
.w-20 {
  width: 20%;
}
.margin-auto {
  margin: auto;
}

.flex-g-0 {
  flex-grow: 0;
}
.whith-2 {
  width: 2rem;
}

.ofusqued-item {
  display: none;
}

.card-warning {
  background-color: rgb(230, 241, 128);
  border-radius: 10px;
}

.card-green {
  background-color: rgb(54, 247, 137);
  border-radius: 10px;
}


.scrollable-table {

  height: 20em;
  line-height: 1em;
  overflow-x: scroll;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid;
  margin-left: -1.25%;
  margin-top: 1%;
  margin-bottom: 1%;

}

.scrollable-body {

  height: 25%;
  line-height: 1em;
  overflow-x: hidden;
  overflow-y: scroll;
  width: 100%;
  border: 1px solid;
  margin-bottom: 50%;
}

td {
  font-size: 1rem;
}

.link-menu {
  width: 100%;
  padding: 5% 10%;
  z-index: 999;
}

.btn-secondary {
  background: #0f7a27e3;
  border-color: #0f7a265e;
}

.td-name {
  width: 35%;
}

.th-percent {
  min-width: 125px;
}


.form-control {
  border: 2px solid #0d6efd52;
}

.search-imput {
  width: 65%;
}

.logo-luque {
  height: 40px;
  padding-left: 2rem;
  transform: scale(1.3);
  transform-origin: center;
}

.nav-div-logo {
  position: fixed;
}

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 90px 0 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  z-index: 99;
  overflow-y: scroll;
}

@media (max-width: 767.98px) {
  .sidebar {
      
      top: 8.53rem;
      padding: 0;
  }

  .search-imput {
    width: 100%;
  }
}
  

.navbar {
  width: 100%;
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
  position: fixed;
  top: 0;
  z-index: 1000;
  min-height: 75px;
}

@media (min-width: 767.98px) {
  .navbar {
      top: 0;
      position: sticky;
      z-index: 999;
  }
}

.sidebar .nav-link {
  border-width: 1px;
  padding: 10%;
  color: #333;
  border-bottom-color: #1c582a59;
  border-top-color: rgba(17, 204, 86, 0);
  border-right-color: rgba(17, 204, 86, 0);
  border-left-color: rgba(17, 204, 86, 0);
  border-style: solid;
}

.sidebar .nav-link.active {
  color: #0d6efd;
}
.by-alan {
  margin: auto;
}
input {
  width: 120px;
}
label {
  font-weight: bold;
}
.big-button {
  font-size: 1.3rem;
}

.category-choise {
  transform: scale(1.4); /* Escala el elemento y sus hijos */
  transform-origin: center; /* Asegura que el escalado se haga desde el centro */
}

@media (max-width: 1024px) {
  .category-choise {
    transform: scale(1.2); /* Escala el elemento y sus hijos */
    transform-origin: center; /* Asegura que el escalado se haga desde el centro */
  }
}



/* Estilos para la tabla */
table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

table thead tr {
  background-color: #5995fd;
  color: #ffffff;
  text-align: left;
}

table th, table td {
  padding: 12px 15px;
}

table tbody tr {
  border-bottom: 1px solid #dddddd;
}

table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

table tbody tr:last-of-type {
  border-bottom: 2px solid #5995fd;
}

table tbody tr:hover {
  background-color: #f1f1f1;
}

td .img-thumbnail {
  max-width: 50px;
}
 

@media (max-width: 977px) {
  table thead {
    display: none;
  }
  .signin-signup {
    top: 60%
  }
  table, table tbody, table tr, table td {
    display: block;
    width: 100%;
  }

  table tr {
    margin-bottom: 15px;
    border-radius: 5px;
  }

  table td {
    text-align: right;
    padding-left: 50%;
    position: relative;
    border-bottom: 2px solid #0077ff68 !important;
    margin-bottom: 2px;
    border-radius: 5px;
  }

  table td::before {
    content: attr(data-label);
    position: absolute;
    left: 0;
    width: 50%;
    padding-left: 15px;
    font-weight: bold;
    text-align: left;
  }

  /* table td p {
    max-width: 50%;
    margin-left: 50%;
  } */

  .td-img {
    text-align: center;
  }

  td .img-thumbnail {
    max-width: 150px;
  }
  
}

.modal-content .description {
  max-width: 75%;
  margin-left: 25%;
}

@media (max-width: 800px) {
  .description {
    max-width: 80%;
    margin-left: 20%;
  }
}

@media (max-width: 600px) {
  .description {
    max-width: 70%;
    margin-left: 30%;
  }

}

@media (max-width: 550px) {
  .main-container {
    margin-top: 105PX;
  }
  .logo-luque {
    width: 20vw; /* Ajusta el ancho */
    height: auto; /* Mantén el alto proporcional */
    padding-left: 0%;
  }
  .movil-nav {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }

  .movil-nav-div-logo {
    position: relative;
  }
  
}

@media (max-width: 400px) {
  .description {
    max-width: 60%;
    margin-left: 40%;
  }
}

.navbar .dropdown-menu {
  right: 0;
  left: unset !important;
}

.buton-list {
  display: flex;
  flex-direction: column;
}

.category_dopdown {
  color: #FFF;
  background-color: #28a745;
  scale: 1.3;
}

.nav_category {
  flex-direction: row;
  justify-content: center;
}

.modal-img {
  max-height: 65vh
}

.subcategory-btn {
  width: 100%;
}



.scrollToTop{
  
  position: fixed;
  top: 143px; /* Altura desde el borde inferior */
  left: 50%; /* Centrar horizontalmente */
  transform: translateX(-50%); /* Ajustar para que esté perfectamente centrado */
  z-index: 1050; /* Asegura que esté sobre otros elementos */
  padding: 10px;
  border-radius: 50%; /* Hacerlo redondo */
  width: 50px; /* Ancho fijo */
  height: 50px; /* Altura fija */
  font-size: 24px; /* Tamaño del ícono */
  text-align: center; /* Centrar el texto dentro */
  line-height: 30px; /* Centrar verticalmente */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra */
}

@media (max-width: 550px) {
  .scrollToTop {
    top: 197px;
  }
  .title {
    margin-top: 71px;
  }
}

.sticky-button-container {
  position: relative; /* Contexto para el sticky */
  display: flex;
  justify-content: center; /* Centrar horizontalmente */
  align-items: flex-end; /* Alinear hacia abajo dentro del contenedor */
}

.btn-list {
  background-color: #ff0000;
  margin: 5px auto;
  width: 50%;
  min-width: 377px;
  color: white;
}

.wp-link {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999; /* Asegura que quede por encima de otros elementos */
}

.wp-link img {
  width: 80px;
  animation: pulse 1.5s infinite;
  transition: transform 0.3s ease;
}

.wp-link img:hover {
  transform: scale(1.1);
}

.download-link {
  position: absolute;
  top: 158px;
  right: 10px;
  transition: transform 0.3s ease;
}

.download-link svg {
  fill: #cc0000;
  transition: fill 0.3s ease, transform 0.3s ease;
}

.download-link:hover svg {
  fill: #ff0000; /* rojo más oscuro */
  transform: scale(1.15); /* resalta */
}

.btn-info {
  color: #fff;
  background-color: #bf2b2b;
  border-color: #cc0000;
}